@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  margin:0 auto;
  max-width:320px;
}
h1 {
  font-size:52px;
  font-weight:300;
  margin:10px 0 20px 0;
}
input {
  background:#eee;
  border:none;
  font-size:22px;
  padding:8px 20px;
  width:100%;
}
ul {
  margin:20px 0px;
  padding:0px;
}
ul li {
  background:#ccc;
  color:#666;
  font-size:22px;
  list-style-type: none;
  margin-bottom:1px;
  padding:8px 20px;
  width:100%;
}
span {
  color: white;
  float: right;
}
.completed {
  text-decoration:line-through;
  color:#eee;
}
#add_todo{
  margin-left:10px;
  background:#FF6666;
  color:#662929;
  font-size:16px;
  border:none;
  padding:8px 20px;
  letter-spacing:2px;
  box-shadow:0 2px 0 0 #662929;
  border-radius:4px;
}